
.main{
    transform: translateY(-110px);
    display: flex;
    justify-content: flex-end;
    overflow-y: auto; 
    scrollbar-width: none;
}

.main__img{
    max-width: 400px;
    background-repeat: repeat;
}

.message__text{
    padding: 5px 10px;
    border-radius: 15px 15px 0px 15px;
    background: rgb(208, 220, 255);
    margin: 10px 10px 0 0;
    word-wrap: break-word;
    word-break: break-all; 
    white-space: pre-wrap;
    max-width: 310px;
    box-sizing: border-box;
    display: block;
}

.message__text p{
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.message__img-send{
    padding: 2px;
    border-radius: 15px 15px 0px 15px;
    margin: 2px;
}

.msg__img-item{
    border-radius: 13px;
    width: 100%;
    max-width: 243px;
}

.main__message-position{
    position: absolute;
    display: flex;
    top: 110px;
    flex-direction: column;
    align-items: flex-end;
}


